<!DOCTYPE html>
<html>
  <body>

    
    <h1>{{ name }}</h1>
    <h2>{{ title }}</h2>

    
    <p>
      {{ contact.phone }} | 
      <a href="mailto:{{ contact.email }}">{{ contact.email }}</a> | 
      <a href="{{ contact.github }}">GitHub</a> | 
      <a href="{{ contact.linkedIn }}">LinkedIn</a>
    </p>

    
    <h2>EDUCATION</h2>
    {% for edu in education %}
      <h3>{{ edu.school }}</h3>
      <p>{{ edu.degree }}, GPA: {{ edu.GPA }}</p>
      <p>{{ edu.dates }} &nbsp;&nbsp; Expected: {{ edu.expected }}</p>
      <p><strong>Relevant Coursework:</strong>
        {{ edu.coursework | join(", ") }}
      </p>
    {% endfor %}

    
    <h2>TECHNICAL SKILLS</h2>
    <p><strong>Programming Languages:</strong> {{ skills.languages | join(", ") }}</p>
    <p><strong>Technologies/Frameworks:</strong> {{ skills.frameworks | join(", ") }}</p>

    
    <h2>PROJECTS</h2>
    {% for pro in projects %}
      <h3>{{ pro.project }}</h3>
      <ul>
        {% for bullet in pro.bullets %}
          <li>{{ bullet }}</li>
        {% endfor %}
      </ul>
    {% endfor %}

    
    <h2>EXPERIENCE</h2>
    {% for exp in experience %}
      <h3>{{ exp.company }}</h3>
      <p>{{ exp.role }}</p>
      <p>{{ exp.location }} &nbsp;&nbsp; {{ exp.dates }}</p>
      <ul>
        {% for bullet in exp.bullets %}
          <li>{{ bullet }}</li>
        {% endfor %}
      </ul>
    {% endfor %}

    
    <h2>LEADERSHIP AND PROFESSIONAL DEVELOPMENT</h2>
    {% for leader in leadership %}
      <h3>{{ leader.activity }}</h3>
      <p>{{ leader.role }}</p>
      <p>{{ leader.location }} &nbsp;&nbsp; {{ leader.dates }}</p>
      <ul>
        {% for bullet in leader.bullets %}
          <li>{{ bullet }}</li>
        {% endfor %}
      </ul>
    {% endfor %}

  </body>
</html>
